.hero__main__inner {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  margin-bottom: 40px;
}
.hero__main__wo_heading h3 {
  margin-bottom: 15px;
}
.hero__main__wo_heading {
  background-color: #374684;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 10px 3px #35416b;
}
.container .hero__main__wo_heading {
  padding: 0 0;
}
.hero__main__pic_text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
/* .hero__pic {
  width: 120px;
  height: 184px;
  overflow: hidden;
  position: relative;
} */
.hero__main__pic_text video {
  width: 140px;
  height: 194px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 3px rgba(23, 37, 84, 0.6);
}

.hero__main__pic_text p {
  width: 270px;
}
.visually__hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero__main__wo_heading {
    border-radius: 30px;
    width: 708px;
    box-shadow: 0 5px 30px 3px #35416b;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .hero__main__pic_text {
    gap: 20px;
  }
  .hero__main__pic_text video {
    margin-left: 5px;
    width: 166px;
    height: 240px;
  }
  .hero__main__pic_text p {
    width: 488px;
  }
  .visually__hidden_f {
    display: none;
  }
  .visually__hidden {
    display: block;
  }
  .hero__main__inner {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__main__inner {
    margin-bottom: 100px;
    gap: 20px;
    align-items: flex-start;
  }
  .hero__main__inner h2 {
    padding: 0;
  }
  .hero__main__wo_heading {
    padding: 28px;
    width: 1016px;
  }
  .hero__pic {
    border-radius: 50px;
  }
  .hero__main__pic_text video {
    width: 263px;
    height: 380px;
    border: 70px;
  }
  .hero__main__pic_text p {
    width: 650px;
  }
}
