.choose {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #f98787;
}

.message {
  font-family: "Neucha";
  color: #f7e9a0;
  margin-bottom: 20px;
}
.quiz {
  color: #fff;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .choose {
    margin-top: 25px;
    margin-bottom: 7px;
  }
  .message {
    margin-bottom: 60px;
    font-size: 25px;
  }
  .quiz {
    font-size: 26px;
    margin-bottom: 20px;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .choose {
    margin-top: 55px;
    margin-bottom: 10px;
  }
  .message {
    margin-bottom: 80px;
    font-size: 35px;
  }
  .quiz {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 90px;
  }
}
