.header {
  background-color: #24315e;
  max-width: 1280px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 5px 30px 2px #172554;
}

.navLogo {
  padding: 0 12px;
}

.menuToggleBtn {
  display: none;
  color: white;
  font-size: 24px;
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
}

.navMenu {
  display: flex;
  gap: 20px;
}

.navMenuItem {
  transition: background 0.3s;
  font-style: 24px;
  background: #174467;
  border-radius: 10px;
}

.navMenuItem:hover {
  cursor: pointer;
  background: #44a8f4;
  border-radius: 10px;
}

.navMenuLink {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 10px;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .menuToggleBtn {
    display: block;
  }

  .navMenu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 15px;
  }

  .navMenuOpen {
    display: block;
  }
}
